@font-face {
    font-family: 'fontBold';
    src: url('./fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontMedium';
    src: url('./fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontRegular';
    src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #6e6e6e, #c4c4c4); /* สีพื้นหลังไล่สี */
}


.reg-register-box {
    background-color: #3e3e3e;
    width: 735px;
    height: 925px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.reg-register-box h2 {
    font-family: 'fontBold', sans-serif;
    font-size: 64px;
    color: white;
    margin-bottom: 20px;
    border-bottom: none;
    padding-bottom: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.reg-register-box h2::after {
    content: '';
    position: flex;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 734.5px;
    height: 3px;
    background-color: #555;
}

.reg-firstname-box {
    margin-bottom: 20px;
}

.reg-firstname-box input {
    width: 590px;
    height: 72px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 32px;
    font-family: 'fontMedium', sans-serif;
}

.reg-lastname-box {
    position: relative;
}

.reg-lastname-box input {
    width: 590px;
    height: 72px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 32px;
    font-family: 'fontMedium', sans-serif;
}

.reg-username-box {
    position: relative;
}

.reg-username-box input {
    width: 590px;
    height: 72px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 32px;
    font-family: 'fontMedium', sans-serif;
}

.reg-password-box {
    position: relative;
}

.reg-password-box input {
    width: 590px;
    height: 72px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 32px;
    font-family: 'fontMedium', sans-serif;
}

.reg-email-box {
    position: relative;
}

.reg-email-box input {
    width: 590px;
    height: 72px;
    margin-top: 3%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 32px;
    font-family: 'fontMedium', sans-serif;
}

.reg-forgot-password {
    text-align: left;
    margin-bottom: 20px;
    padding: 22px 62px;
}

.reg-forgot-password a {
    color: #14128F;
    text-decoration: none;
    font-size: 24px;
    font-family: 'fontRegular', sans-serif;
}

.reg-forgot-password a:hover {
    text-decoration: underline;
}

.reg-register-button {
    background-color: #4D81E4;
    color: white;
    border: 4px solid #ffffff;
    border-radius: 4px;
    width: 272px;
    height: 76px;
    padding: auto;
    font-size: 40px;
    cursor: pointer;
    font-family: 'fontMedium', sans-serif;
}

.reg-register-button:hover {
    background-color: #3c6bd4;
}
